Repository florczakraf/boogie-stats: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, check-json, check-toml, check-xml, check-yaml, debug-statements

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

bandit:
  name: bandit
  entry: bandit --configfile bandit.yml
  language: system

djlint reformat:
  name: djlint reformat
  entry: djlint --profile django --reformat
  language: system

djlint check:
  name: djlint check
  entry: djlint --profile django --check --lint
  language: system

check-ast:
  name: check-ast
  entry: check-ast
  language: system

check-docstring-first:
  name: check-docstring-first
  entry: check-docstring-first
  language: system

check-json:
  name: check-json
  entry: check-json
  language: system

check-toml:
  name: check-toml
  entry: check-toml
  language: system

check-xml:
  name: check-xml
  entry: check-xml
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

debug-statements:
  name: debug-statements
  entry: debug-statement-hook
  language: system

Add isort
  .pre-commit-config.yaml
  boogiestats/boogie_api/admin.py
  boogiestats/boogie_api/managers.py
  boogiestats/boogie_api/migrations/0001_initial.py
  boogiestats/boogie_api/migrations/0002_player_user.py
  boogiestats/boogie_api/migrations/0008_song_highscore.py
  boogiestats/boogie_api/migrations/0009_alter_score_comment_alter_song_highscore.py
  boogiestats/boogie_api/migrations/0011_player_latest_score.py
  boogiestats/boogie_api/migrations/0012_alter_score_is_top_alter_score_score_and_more.py
  boogiestats/boogie_api/migrations/0013_score_submission_day.py
  boogiestats/boogie_api/migrations/0014_player_join_date.py
  boogiestats/boogie_api/migrations/0019_score_ex_score_score_is_ex_top_song_ex_highscore_and_more.py
  boogiestats/boogie_api/models.py
  boogiestats/boogie_api/test/test_api.py
  boogiestats/boogie_api/test/test_models.py
  boogiestats/boogie_api/utils.py
  boogiestats/boogie_api/views.py
  boogiestats/boogie_ui/views.py
  boogiestats/boogiestats/settings.py
  boogiestats/boogiestats/urls.py
  dev/populate-db.py
  docker/populate-redis.py
  poetry.lock
  pyproject.toml
Due: black, flake8, bandit, check-ast, check-docstring-first, check-toml, check-yaml, debug-statements

Add pending migrations check to pre-commit
  .pre-commit-config.yaml
  dev/check-pending-migrations.sh
Due: check-yaml

Add pre-commit hook for checking poetry lock
  .pre-commit-config.yaml
Due: check-yaml

Use pre-commit in CI pipeline
  .github/workflows/test.yml
Due: none

Suggest using pre-commit in dev manual
  docs/dev_manual.md
Due: none

Improve global pre-commit excludes
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: check-yaml

Update dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Use prefetch_related to optimize high page numbers
  boogiestats/boogie_ui/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

wip
  boogiestats/boogie_ui/views.py
  boogiestats/static/boogie_ui/boogiestats.css
  boogiestats/templates/boogie_ui/diff_box.html
  boogiestats/templates/boogie_ui/song.html
  boogiestats/templates/boogie_ui/song_display_name.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

wip
  boogiestats/boogie_api/models.py
  boogiestats/boogie_api/utils.py
  boogiestats/boogie_ui/context_processors.py
  boogiestats/boogie_ui/views.py
  boogiestats/templates/boogie_ui/diff_box.html
  boogiestats/templates/boogie_ui/song.html
  docker/populate-redis.py
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Sort boxes by diff name
  boogiestats/boogie_ui/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Add css for edit charts
  boogiestats/static/boogie_ui/boogiestats.css
Due: none

adds percentage symbol
  boogiestats/templates/boogie_ui/score_with_judgments.html
Due: djlint reformat, djlint check

Remove sorting all submissions by score
  boogiestats/boogie_ui/urls.py
  boogiestats/boogie_ui/views.py
  boogiestats/templates/boogie_ui/scores.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Use chart db V2
  boogiestats/boogie_api/models.py
  boogiestats/boogie_api/utils.py
  boogiestats/boogie_ui/views.py
  boogiestats/static/boogie_ui/boogiestats.css
  boogiestats/templates/boogie_ui/diff_box.html
  boogiestats/templates/boogie_ui/song.html
  boogiestats/templates/boogie_ui/song_display_name.html
  docker-compose.yml
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, check-yaml, debug-statements

Fix calculations for yearly stats
  boogiestats/boogie_ui/views.py
  boogiestats/templates/boogie_ui/player_wrapped.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Respect chosen scoring scheme on Most Played tab
  boogiestats/boogie_ui/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Display who marked the player as their rival
  boogiestats/boogie_ui/views.py
  boogiestats/templates/boogie_ui/player.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Restyle rival compare link
  boogiestats/static/boogie_ui/boogiestats.css
  boogiestats/templates/boogie_ui/player.html
Due: djlint reformat, djlint check

Fix rendering songs that have couples charts
  boogiestats/boogie_ui/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Add social links / platforms
  boogiestats/boogie_api/migrations/0026_player_bluesky_handle_player_bokutachi_handle_and_more.py
  boogiestats/boogie_api/models.py
  boogiestats/boogie_ui/forms.py
  boogiestats/boogie_ui/views.py
  boogiestats/boogiestats/settings.py
  boogiestats/static/boogie_ui/boogiestats.css
  boogiestats/static/custom-icons/bluesky.svg
  boogiestats/static/custom-icons/bokutachi.svg
  boogiestats/static/custom-icons/kamaitachi.svg
  boogiestats/templates/boogie_ui/player.html
  boogiestats/templates/boogie_ui/player_update.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Add badges for people that are live on twitch on the home page
  boogiestats/boogie_api/models.py
  boogiestats/boogie_api/urls.py
  boogiestats/boogie_api/v1.py
  boogiestats/static/boogie_ui/boogiestats.js
  boogiestats/templates/boogie_ui/index.html
  boogiestats/templates/boogie_ui/twitch_live_badge.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Add stats for Lisek
  boogiestats/boogie_ui/urls.py
  boogiestats/boogie_ui/views.py
  boogiestats/templates/boogie_ui/stats.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

add charts/scores top for 2024
  boogiestats/boogie_ui/views.py
  boogiestats/templates/boogie_ui/stats.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Pin poetry to 1.* series
  .github/workflows/test.yml
Due: none

Add step stats to wrapped view
  boogiestats/boogie_ui/views.py
  boogiestats/templates/boogie_ui/player_wrapped.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Include total steps to fix percentage calculation in wrapped view
  boogiestats/boogie_ui/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Update user manual
  boogiestats/boogie_ui/views.py
  boogiestats/templates/boogie_ui/manual.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Update deps
  poetry.lock
  pyproject.toml
Due: check-toml

Migrate pre-commit config
  .pre-commit-config.yaml
Due: check-yaml

Reformat templates with the current djlint
  boogiestats/templates/boogie_ui/player_stats.html
  boogiestats/templates/boogie_ui/player_wrapped.html
  boogiestats/templates/boogie_ui/root.html
  boogiestats/templates/boogie_ui/score.html
  boogiestats/templates/boogie_ui/score_with_judgments.html
  boogiestats/templates/boogie_ui/scores_by_day.html
Due: djlint reformat, djlint check

Bump poetry to series 2.x
  .github/workflows/test.yml
  docker/Dockerfile
  poetry.lock
  pyproject.toml
Due: check-toml

Test and use python 3.13-slim as the base image
  .github/workflows/test.yml
  docker/Dockerfile
Due: none

Update locked deps
  poetry.lock
  pyproject.toml
Due: check-toml

Increase GS timeouts
  boogiestats/boogie_api/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

versus: Require login
  boogiestats/boogie_ui/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

calendar: Only link days with plays
  boogiestats/templates/boogie_ui/calendar.html
Due: djlint reformat, djlint check

Bump deps
  poetry.lock
Due: none

Limit CI token scope
  .github/workflows/test.yml
Due: none

Require login to access paginated data
  boogiestats/boogie_ui/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Path conditions:
  black: any of: .*\.py$, but not: .git|.tox|venv|.venv
  flake8: any of: .*\.py$, but not: .git|.tox|venv|.venv
  bandit: any of: boogiestats/.*\.py$, but not: .git|.tox|venv|.venv
  djlint reformat: any of: .*\.html$, but not: .git|.tox|venv|.venv
  djlint check: any of: .*\.html$, but not: .git|.tox|venv|.venv
  check-ast: any of: .*\.py$, but not: .git|.tox|venv|.venv
  check-docstring-first: any of: .*\.py$, but not: .git|.tox|venv|.venv
  check-json: any of: .*\.json$, but not: .git|.tox|venv|.venv
  check-toml: any of: .*\.toml$, but not: .git|.tox|venv|.venv
  check-xml: any of: .*\.xml$, but not: .git|.tox|venv|.venv
  check-yaml: any of: .*\.(yml|yaml)$, but not: .git|.tox|venv|.venv
  debug-statements: any of: .*\.py$, but not: .git|.tox|venv|.venv
