Repository florczakraf/boogie-stats: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, check-json, check-toml, check-xml, check-yaml, debug-statements

.pre-commit-config.yaml:

exclude: '.git|.tox|venv|.venv'
default_stages: [commit]
fail_fast: true

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        files: '.*\.py$'

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        files: '.*\.py$'

      - id: bandit
        name: bandit
        entry: bandit --configfile bandit.yml
        language: system
        files: 'boogiestats/.*\.py$'

      - id: djlint reformat
        name: djlint reformat
        entry: djlint --profile django --reformat
        language: system
        files: '.*\.html$'

      - id: djlint check
        name: djlint check
        entry: djlint --profile django --check --lint
        language: system
        files: '.*\.html$'

      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        args: [ '--maxkb=512' ]
        language: system

      - id: check-ast
        name: check-ast
        entry: check-ast
        language: system
        files: '.*\.py$'

      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: system

      - id: check-docstring-first
        name: check-docstring-first
        entry: check-docstring-first
        language: system
        files: '.*\.py$'

      - id: check-json
        name: check-json
        entry: check-json
        language: system
        files: '.*\.json$'

      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: system

      - id: check-toml
        name: check-toml
        entry: check-toml
        language: system
        files: '.*\.toml$'

      - id: check-xml
        name: check-xml
        entry: check-xml
        language: system
        files: '.*\.xml$'

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: system
        files: '.*\.(yml|yaml)$'

      - id: detect-private-key
        name: detect-private-key
        entry: detect-private-key
        language: system

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system
        types: [ text ]

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: system
        types: [ text ]

      - id: debug-statements
        name: debug-statements
        entry: debug-statement-hook
        language: system
        files: '.*\.py$'

      - id: check-executables-have-shebangs
        name: check-executables-have-shebangs
        entry: check-executables-have-shebangs
        language: system
        types: [text, executable]

Formatted relevant numbers in the html files using djangos number formatter established in the settings.py file
  boogiestats/boogiestats/settings.py
  boogiestats/templates/boogie_ui/calendar.html
  boogiestats/templates/boogie_ui/index.html
  boogiestats/templates/boogie_ui/player.html
  boogiestats/templates/boogie_ui/player_stats.html
  boogiestats/templates/boogie_ui/player_wrapped.html
  boogiestats/templates/boogie_ui/players.html
  boogiestats/templates/boogie_ui/score.html
  boogiestats/templates/boogie_ui/score_with_judgments.html
  boogiestats/templates/boogie_ui/scores_by_day.html
  boogiestats/templates/boogie_ui/search.html
  boogiestats/templates/boogie_ui/song.html
  boogiestats/templates/boogie_ui/songs.html
  boogiestats/templates/boogie_ui/stars.html
  boogiestats/templates/boogie_ui/versus.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Formatting numbers with default localizing and exclusions for things like year values
  boogiestats/boogiestats/settings.py
  boogiestats/templates/boogie_ui/calendar.html
  boogiestats/templates/boogie_ui/index.html
  boogiestats/templates/boogie_ui/login.html
  boogiestats/templates/boogie_ui/player.html
  boogiestats/templates/boogie_ui/player_stats.html
  boogiestats/templates/boogie_ui/player_wrapped.html
  boogiestats/templates/boogie_ui/players.html
  boogiestats/templates/boogie_ui/score.html
  boogiestats/templates/boogie_ui/score_with_judgments.html
  boogiestats/templates/boogie_ui/scores_by_day.html
  boogiestats/templates/boogie_ui/search.html
  boogiestats/templates/boogie_ui/song.html
  boogiestats/templates/boogie_ui/songs.html
  boogiestats/templates/boogie_ui/stars.html
  boogiestats/templates/boogie_ui/versus.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

fixed the URLs for large page numbers
  boogiestats/boogiestats/settings.py
  boogiestats/templates/boogie_ui/paginator.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

fixed URLs containing template variables
  boogiestats/templates/boogie_ui/manual.html
  boogiestats/templates/boogie_ui/player.html
  boogiestats/templates/boogie_ui/twitch_live_badge.html
Due: djlint reformat, djlint check

Cleanup superfluous l10n
  boogiestats/boogiestats/settings.py
  boogiestats/templates/boogie_ui/calendar.html
  boogiestats/templates/boogie_ui/index.html
  boogiestats/templates/boogie_ui/player.html
  boogiestats/templates/boogie_ui/player_stats.html
  boogiestats/templates/boogie_ui/player_wrapped.html
  boogiestats/templates/boogie_ui/players.html
  boogiestats/templates/boogie_ui/score.html
  boogiestats/templates/boogie_ui/score_with_judgments.html
  boogiestats/templates/boogie_ui/scores_by_day.html
  boogiestats/templates/boogie_ui/search.html
  boogiestats/templates/boogie_ui/song.html
  boogiestats/templates/boogie_ui/songs.html
  boogiestats/templates/boogie_ui/stars.html
  boogiestats/templates/boogie_ui/twitch_live_badge.html
  boogiestats/templates/boogie_ui/versus.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Applied a digit grouping function so large numbers can be understood more easily. (#231)
  boogiestats/boogiestats/settings.py
  boogiestats/templates/boogie_ui/login.html
  boogiestats/templates/boogie_ui/manual.html
  boogiestats/templates/boogie_ui/paginator.html
  boogiestats/templates/boogie_ui/player.html
  boogiestats/templates/boogie_ui/player_wrapped.html
  boogiestats/templates/boogie_ui/score.html
  boogiestats/templates/boogie_ui/score_with_judgments.html
  boogiestats/templates/boogie_ui/scores_by_day.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Update dependencies 2026-02-08
  poetry.lock
Due: none

Skip GS on fetch if integration level permits
  boogiestats/boogie_api/test/test_api.py
  boogiestats/boogie_api/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

tmp: Make GS integration optional
  boogiestats/boogie_api/choices.py
  boogiestats/boogie_api/managers.py
  boogiestats/boogie_api/migrations/0027_player_gs_integration_score_gs_status_and_more.py
  boogiestats/boogie_api/models.py
  boogiestats/boogie_api/test/test_api.py
  boogiestats/boogie_api/test/test_models.py
  boogiestats/boogie_api/views.py
  boogiestats/boogie_ui/forms.py
  boogiestats/boogie_ui/test/test_ui.py
  boogiestats/boogie_ui/urls.py
  boogiestats/boogie_ui/views.py
  boogiestats/templates/boogie_ui/player.html
  boogiestats/templates/boogie_ui/score.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Change default GS Integration to TRY
  boogiestats/boogie_api/migrations/0028_alter_player_gs_integration_and_more.py
  boogiestats/boogie_api/models.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Use proper score's time in test
  boogiestats/boogie_api/test/test_api.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Revert "Increase GS timeouts"
  boogiestats/boogie_api/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Add a retry for a possible Score creation race
  boogiestats/boogie_api/managers.py
  boogiestats/boogie_api/test/test_models.py
  conftest.py
  poetry.lock
  pyproject.toml
Due: black, flake8, bandit, check-ast, check-docstring-first, check-toml, debug-statements

Add pack pages
  boogiestats/boogie_api/models.py
  boogiestats/boogie_api/utils.py
  boogiestats/boogie_ui/urls.py
  boogiestats/boogie_ui/views.py
  boogiestats/templates/boogie_ui/diffs.html
  boogiestats/templates/boogie_ui/pack.html
  boogiestats/templates/boogie_ui/song.html
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, debug-statements

Add more metrics, refactor score creation retry
  boogiestats/boogie_api/managers.py
  boogiestats/boogie_api/metrics.py
  boogiestats/boogie_api/views.py
  boogiestats/boogiestats/settings.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Add more metrics, refactor score creation retry
  boogiestats/boogie_api/managers.py
  boogiestats/boogie_api/metrics.py
  boogiestats/boogie_api/test/test_models.py
  boogiestats/boogie_api/views.py
  boogiestats/boogiestats/settings.py
  conftest.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Fix denormalized star update on small improvements
  boogiestats/boogie_api/managers.py
  boogiestats/boogie_api/test/test_models.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Mimic new GS API endpoints
  boogiestats/boogie_api/test/test_api.py
  boogiestats/boogie_api/urls.py
  boogiestats/boogie_api/views.py
  boogiestats/boogiestats/settings.py
  boogiestats/boogiestats/urls.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Use the new charts path in the dev init script
  dev/populate-db.py
Due: black, flake8, check-ast, check-docstring-first, debug-statements

Bump deps 2026-03-09
  poetry.lock
Due: none

Unlocalize diff_number
  boogiestats/templates/boogie_ui/diff_box.html
  boogiestats/templates/boogie_ui/score.html
  boogiestats/templates/boogie_ui/song.html
Due: djlint reformat, djlint check

Allow boxes to grow horizontally
  boogiestats/static/boogie_ui/boogiestats.css
Due: none

Return player's GS integration level
  boogiestats/boogie_api/test/test_api.py
  boogiestats/boogie_api/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Add a client option to bypass upstream submission
  boogiestats/boogie_api/test/test_api.py
  boogiestats/boogie_api/views.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Unlocalize player ID for twitch live status check
  boogiestats/templates/boogie_ui/twitch_live_badge.html
Due: djlint reformat, djlint check

Bump deps 2026-08-17
  poetry.lock
Due: none

Modernize deps 2026-08-23
  boogiestats/boogie_api/models.py
  boogiestats/boogie_ui/forms.py
  boogiestats/boogiestats/urls.py
  boogiestats/templates/boogie_ui/player_update.html
  boogiestats/templates/boogie_ui/player_wrapped.html
  boogiestats/templates/boogie_ui/score.html
  boogiestats/templates/boogie_ui/score_with_judgments.html
  boogiestats/templates/boogie_ui/scores_by_day.html
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: black, flake8, bandit, djlint reformat, djlint check, check-ast, check-docstring-first, check-toml, check-yaml, debug-statements

Make RequireAuthForPaginationMixin configurable
  boogiestats/boogie_ui/views.py
  boogiestats/boogiestats/settings.py
Due: black, flake8, bandit, check-ast, check-docstring-first, debug-statements

Show steps hit in day embed
  boogiestats/templates/boogie_ui/scores_by_day.html
Due: djlint reformat, djlint check

Update populate-redis.py to use new redis module import after #249
  docker/populate-redis.py
Due: black, flake8, check-ast, check-docstring-first, debug-statements
